.detail
{
    padding: 10px 250px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.detail-book
{
    display: flex;
    justify-content: space-between;
}
.detail-text
{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.detail-name
{

}
.detail-artist a
{
    text-decoration: none;
    color: #0179CA;
}
.rate-type-pages
{
    display: flex;
}
.detail-rate
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
    height: fit-content;
    border-right: 1px solid gray;
}
.rate-star
{
    font-size: x-small;
}
.number-of-rate
{
    font-size: x-small;
    color: gray;
}
.detail-type-book
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 0px 20px;
    border-right: 1px solid gray;
}
.type-book-logo
{
    font-size: x-small;
}
.type-of-book
{
    font-size: x-small;
    color: gray;
}
.detail-book-pages
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding-left: 20px;
}
.pages
{
    font-size: x-small;
}
.detail-get-book-method
{

}
.buy-book-btn
{
    background-color: #0179CA;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: smaller;
}
.buy-book-btn:hover
{
    background-color: #084a73;
    transition: .2s;
}
.buy-book-btn:active
{
    background-color: #0c4263;
}
.line-through
{
    color: #4597ce;
}
.rent-book-btn
{
    color: #0179CA;
    background-color: white;
    border: 1px solid #c9d1da;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: smaller;
}
.rent-book-btn:hover
{
    color: #084a73;
    background-color: #f6fafe;
    transition: .2s;
}
.rent-book-btn:active
{
    background-color: #dbe9fb;
}
.add-to-wishlist
{
    color: #0179CA;
    background-color: white;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: smaller;
}
.add-to-wishlist:hover
{
    color: #084a73;
    background-color: #f6fafe;
    transition: .2s;
}
.add-to-wishlist:active
{
    background-color: #dbe9fb;
}
.more-info
{
    display: flex;
    gap: 100px;
}
.introduce-container
{
    width: 70%;
}
.introduce
{

}
.introduce-text
{
    font-size: x-small;
    color: gray;
}
.users-rating
{

}
.rating-point
{

}
.users-rating-list
{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.users-list-content
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.users-rating-info
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.users-image-name
{
    display: flex;
    gap: 10px;
}
.users-image-name img
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.users-name
{
    display: flex;
    flex-direction: column;
}
.users-name span
{
    font-size: x-small;
}
.users-report
{

}
.report-rating-btn
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.report-rating-btn:hover
{
    background-color: rgb(230, 221, 221);
}
.report-rating-btn:active
{
    background-color: rgb(202, 197, 197);
}
.rating-content span
{
    color: gray;
    font-size: smaller;
}
.books-suggestions
{

}
.related-books
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
}
.books-by-author
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
}
.books-list
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.books-list-link
{
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: black;
    padding: 5px 5px;
    border-radius: 5px;
}
.books-list-link:hover
{
    background-color: rgb(250, 244, 244);
    transition: .2s;
}
.books-list-image img
{
    width: 250px;
    height: 150px;
    object-fit: cover;
}
.books-list-text-info
{
    display: flex;
    flex-direction: column;
}
.books-list-title
{
    text-wrap: nowrap;
    overflow: hidden;
    font-size: small;
}
.books-list-author
{
    font-size: x-small;
}
.books-list-type
{
    font-size: x-small;
    color: gray;
}
.books-list-rate-price
{
    display: flex;
    gap: 10px;
}
.books-list-rate
{
    font-size: x-small;
    color: gray;
}
.books-list-old-price
{
    font-size: x-small;
    color: gray;
    text-decoration: line-through;
}
.books-list-new-price
{
    font-size: x-small;
    color: black;
}
.rating-form-container
{
    display: flex;
    flex-direction: column;
}
.rating-form-btn
{
    width: 200px;
    background-color: #4597ce;
    color: white;
    padding: 5px 10px;
    font-size: small;
    border-radius: 5px;
}