.header
{
    display: flex;
    height: 70px;
    width: 100%;
    padding: 0px 20px;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
}
.isScroll
{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.logo-navigator
{
    display: flex;
    align-items: center;
}
.nav-active
{
    color: #83BDE5;
    border-bottom: 2px solid #83BDE5;
}
.navigator
{
    display: flex;
}
.navigator a:not(.nav-active)
{
    color: black;
}
.navigator a
{
    text-decoration: none;
    font-size: smaller;
    padding: 22px 0px;
}
.logo img
{
    height: 70px;
}
.search button
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search button:hover
{
    background-color: #f5f5f5;
}
.search button:active
{
    background-color: #d7d7d7;
}
.support button
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.support button:hover
{
    background-color: #f5f5f5;
}
.support button:active
{
    background-color: #d7d7d7;
}
.user img
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px 10px;
    cursor: pointer;
}
.user img:hover
{
    background-color: #f5f5f5;
}
.user img:active
{
    background-color: #d7d7d7;
}
.user a:not(.user-dropdown a)
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user a:hover
{
    background-color: #f5f5f5;
    transition: .2s;
}
.user a:active
{
    background-color: #d7d7d7;
}
.user-dropdown
{
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    right: 10px;
    /* top: 70px; */
    /* display: none; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 10px;
    display: none;
}
.user:hover .user-dropdown
{
    display: flex;
}
.user-dropdown a
{
    /* background-color: aqua; */
    text-decoration: none;
    color: black;
    padding: 10px 10px;
}
.search-input-container
{
    display: flex;
    justify-content: center;
    width: 100%;
    top: 70px;
}
.search-input-container input
{
    outline: none;
    border: 1px solid gray;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: smaller;
}