.home
{
    padding: 10px 250px;
    margin-top: 70px;
}
.popular-book
{
    padding-bottom: 50px;
}
.book-type-span
{
    font-size: x-large;
}
.box-container
{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.box-link
{
    width: calc(100% / 6);
    text-decoration: none;
    color: black;
    padding: 10px 10px;
    border-radius: 5px;
}
.box-link:hover
{
    background-color: rgba(80, 80, 80, 0.1);
    transition: .3s;
}
.box-image img
{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.box-name p
{
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: smaller;
    /* font-weight: 600; */
}
.box-type span
{
    font-size: x-small;
    color: gray;
}
.rate
{
    font-size: x-small;
    color: gray;
}
.old-price
{
    font-size: x-small;
    color: gray;
    text-decoration: line-through;
}
.new-price
{
    font-size: x-small;
    color: gray;
}
.selling-book
{
    padding-bottom: 50px;
}
.book-for-you
{
    padding-bottom: 50px;
}
.saling-book
{
    padding-bottom: 50px;
}