.add-product-form
{
    background-color: rgba(0, 0, 0, 0.5);
}
.add-product-form input
{
    padding: 5px 10px;
    width: 100%;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
}
.add-product-form img
{
    width: 100px;
    height: 150px;
    border: 1px solid black;
}
.add-product-form form
{
    width: 500px;
}
.add-product-form button
{
    padding: 10px 15px;
}
.add-product-form button[type=submit]
{
    background-color: rgb(62, 62, 248);
    color: white;
    border-radius: 5px;
}
.add-product-form button[type=submit]:hover
{
    background-color: rgb(38, 38, 236);
}
.product-image-table
{
    width: 70px;
    object-fit: cover;
    height: 100px;
}